python-telegram-bot==13.7
fastapi
deepface
requests>=2.26.0
speechkit
python-dotenv>=0.19.0
protobuf
ffmpeg
Levenshtein>=0.12.2
scikit-learn>=0.24.2
fuzzywuzzy>=0.18.0
numpy
torch
open_clip_torch
Pillow
opencv-python